@charset "UTF-8";

.greska {
	font-family: impact;
	font-weight: bold;
	font-size: 0.9em;
	color: #FF0000;
}

.formLabel {
	display: inline-block;
	width: 100px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.formControls {
	margin-top: 10px;
}