@charset "UTF-8";

body{
	background-color: gray;
}

h1 {
	font-family: "Verdana";
	font-size: x-large;
	padding-bottom: 100;
	text-align: center;
}

#tags button {
	font: lighter;
	font-size: large; border : 1px outset blue;
	background-color: lightBlue;
	height: 50px;
	width: 100px;
	cursor: pointer;
	border: 1px outset blue;
}

#tags button:hover {
	background-color: #3d65a5;
	color: white;
}

#tags div {
	padding: 50px;
	background-color: #b3c6e5;
}

.thumbsContainer {
	padding: 50px;
	align-items: center;
	background-color: #b3c6e5;
}

.infoContainer {
	padding: 50px;
	background-color: #b3c6e5;
}

#info span {
	font-family: "Verdana";
	font-size: large;
	background-color: #b3c6e5;
}